.jumbotron{
	/* Dealing with the surfing image */
	background-image: url(https://images.pexels.com/photos/3348392/pexels-photo-3348392.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-position: center;
  	background-size: cover;}
.temoignage-column{
	display: flex;
	justify-content: space-around;
}



